@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color: #252525;
    --background: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    color: var(--color);
    background-color: var(--background);
}

.container {
    width: 60%;
    margin: 0 auto;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.home>form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: #ededed;
    gap: 10px;
}

.home>form>input[type="text"] {
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 2px;
}

.home>form>input[type="submit"] {
    color: var(--background);
    background-color: var(--color);
    padding: 5px;
    width: 100px;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.home>form>input[type="file"] {
    font-size: 1rem;
    cursor: pointer;
}

.avatars {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 3rem;
}

.avatars>a {
    display: flex;
    align-items: center;
}

.avatars>a,
.home>a {
    text-decoration: none;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
}

.avatar__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.avatar__card>img {
    width: 100%;
}

.avatar__card {
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: salmon;
    background-color: transparent;
    border: none;
    cursor: pointer;
}